.circle {
  width: 100px;
  height: 100px;
  background-color: blue;
 border-radius: 50%;
  position: relative;
  animation: Color 2s infinite alternate ease-in-out,
  Move 3s infinite alternate ease-in-out;
    
}
@keyframes Color {
  0% { background-color: blue; }
  50% { background-color: red }
  100% { background-color: blue }
}
@keyframes Move {
  0% { left: 0; }
  100% { left: 1400px;  }
}

